- if @stats.nil? or @stats.empty?
  %em There were no comments found for #{@friends_name}
- else
  %table.table.table-striped
    %thead
      %tr
        %th Count
        %th Name
    %tbody
      - @stats.each do |stat|
        %tr
          %td= stat[1][:count]
          %td= stat[1][:name]
